@model ApplicationListViewModel

@{
    string title = $"{Model.DisplayName} ({Model.ClientId})";
    ViewData["Title"] = $"Tenant > {title}";
}

<div class="card">
    <div class="card-header">
        <h3 class="mb-1">
            <img height="34" alt="profile icon" class="flex-shrink-0 me-1 rounded" loading="lazy" id="faviconImage" src="@Model.Icon" />
            @title
        </h3>
        <nav aria-label="breadcrumb mb-0 mbe-0 form-text">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a asp-action="Index">
                        All tenants
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">@title</li>
            </ol>
        </nav>
    </div>
    <div class="card-body">
        @Html.DynamicContentLoader("toolbar", Url.Action("Toolbar", "Tenants", new { @id = Model.Id }))
        @Html.DynamicContentLoader("basicInfo", Url.Action("BasicInfo", "Tenants", new { @id = Model.Id }))
        <hr class="my-3">
        @Html.DynamicContentLoader("securityInfo", Url.Action("Security", "Tenants", new { @id = Model.Id }))
        <hr class="my-3">
        @Html.DynamicContentLoader("themeInfo", Url.Action("Theme", "Tenants", new { @id = Model.Id }))
    </div>
</div>

<div id="changeTenantInfo"></div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script>
    var tenantEditCanvas, newKeysModal;

    function tenantEditFormLoaded() {
        tenantEditCanvas = new bootstrap.Offcanvas(document.getElementById('tenantEditOffcanvas'));
        tenantEditCanvas.show();
    }

    function onTenantChangeSuccess(e) {
        DynamicContentLoader.load('basicInfo');
        onTenantChange(e);
    }

    function onSecurityChangeSuccess(e) {
        DynamicContentLoader.load('securityInfo');
        onTenantChange(e);
    }

    function onThemeChangeSuccess(e) {
        DynamicContentLoader.load('themeInfo');
        onTenantChange(e);
    }

    function onTenantAssignUnassignChange(e){
        DynamicContentLoader.load('toolbar');
        onTenantChange(e);
    }

    function onTenantChange(e){
        tenantEditCanvas.hide();
        Toast.success(e.message);
    }

    function onKeysGenerateSuccess() {
        newKeysModal = new bootstrap.Modal(document.getElementById('keysModal'));
        newKeysModal.show();
    }

</script>