@model UnAssignViewModel

@using (Html.AjaxBeginForm(new AjaxOptions
 {
     Url = @Url.ActionLink("Unassign"),
     HttpMethod = "post",
     OnSuccess = "onAssignUnAssignSave",
     OnFailure = "handleAjaxError"
 }, new { id = "saveUnassignForm" }))
{
    <div class="offcanvas offcanvas-end medium" tabindex="-1" id="tenantEditOffcanvas" aria-labelledby="offcanvasRightLabel" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="offcanvas-header border-bottom">
            <h5 id="offcanvasRightLabel">
                Remove users from @Model.Name
            </h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <input type="hidden" asp-for="ApplicationId" />
            <div class="list-group list-group-flush">
                @if (Model.Users?.Count() == 0)
                {
                    <div class="p-5 text-center">
                        <i class="state-icon bi bi-inbox"></i>
                        <br />
                        <p class="text-body-emphasis fs-4 fw-semibold mb-0">
                            No users assigned to this tenant yet.
                        </p>
                        <p class="col-lg-8 mx-auto fs-6 text-muted">
                            To grant access click on <i class="bi bi-person-add"></i> icon.
                        </p>
                    </div>
                }
                else
                {
                    <span class="form-text">
                        Select users to remove
                    </span>
                    @foreach (var user in Model.Users)
                    {
                        <label class="list-group-item d-flex gap-3">
                            <input class="form-check-input flex-shrink-0" type="checkbox" value="@user.Id" name="Users" id="@user.Id" style="font-size: 1.375em;">
                            <span class="form-checked-content">
                                <strong>@user.DisplayName</strong>
                                <small class="d-block text-body-secondary">
                                    @user.Email
                                </small>
                            </span>
                        </label>
                    }
                }
            </div>
        </div>
        <div class="offcanvas-header border-top">
            <div>
                @if (Model.Users?.Count() > 0)
                {
                    <input type="submit" value="Remove selected users" class="btn btn-primary" />
                }
                <input type="button" value="Cancel" class="btn btn-secondary" data-bs-dismiss="offcanvas" aria-label="Close" />
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        Unobtrusive.reInit($("#saveUnassignForm"));
    });
</script>