@using System.Security.Claims

@model EditUserViewModel

<div class="d-flex align-items-center justify-content-between">
    <h5 class="mb-0">Basic info</h5>
    <div class="ms-auto">
        @Html.AjaxActionLink("Edit", "EditBasicInfo", "Tenants", new { @id = Model.Id }, new AjaxOptions
   {
       UpdateTargetId = "changeTenantInfo",
       OnSuccess = "tenantEditFormLoaded"
   }, new { @class = "bi-mr bi bi-pencil btn btn-primary btn-sm" })
    </div>
</div>
<p>
    Basic info of user
</p>
<dl class="row">
    <dt class="col-md-3">First name</dt>
    <dd class="col-md-9">@Model.FirstName</dd>
    <dt class="col-md-3">Last name</dt>
    <dd class="col-md-9">@Model.LastName</dd>
    <dt class="col-md-3">Display name</dt>
    <dd class="col-md-9">@Model.DisplayName</dd>
    <dt class="col-md-3">Gender</dt>
    <dd class="col-md-9">@Model.Gender</dd>
    <dt class="col-md-3">Time zone</dt>
    <dd class="col-md-9">@Model.TimeZone</dd>
    <dt class="col-md-3">Language</dt>
    <dd class="col-md-9">@Model.LocaleCode</dd>
</dl>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
