@model BlogArray.SaaS.Domain.Entities.OpenIdScope

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OpenIdScope</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConcurrencyToken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConcurrencyToken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descriptions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descriptions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayNames)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayNames)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Properties)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Properties)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resources)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resources)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
