@page
@model LoginWithPasswordModel
@{
    ViewData["Title"] = "Login";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

<section>
    <form id="account" method="post">
        <h6 class="text-center mb-3">
            Enter password to continue
        </h6>
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <input asp-for="Input.Email" type="hidden" />

        Your email address <br /><strong>@Model.Input.Email</strong>
        <a asp-page="Login" asp-route-next="@Model.Next" asp-route-email="@Model.Input.Email">Change</a>
        
        <div class="my-3">
            <label asp-for="Input.Password" class="form-label">Password</label>
            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Enter password" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        @* <div class="checkbox mb-3">
            <label asp-for="Input.RememberMe" class="form-label">
                <input class="form-check-input" asp-for="Input.RememberMe" />
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
        </div> *@
        @* <p class="small text-secondary">
        By clicking "Next", you agree to BlogArray <a href="https://help.blogarray.com/docs/site-policy/terms-of-use/" target="_blank">Terms of use</a> and <a href="https://help.blogarray.com/docs/site-policy/privacy-policy/" target="_blank">Privacy Policy</a>.
        </p> *@
        <button id="login-submit" type="submit" class="w-100 btn btn-primary">Login</button>
    </form>
</section>
<section>
    @{
        if ((Model.ExternalLogins?.Count ?? 0) > 0)
        {
            <h6 class="text-center mb-3 mt-3 text-secondary">
                Or continue with
            </h6>
            <form id="external-account" asp-page="./ExternalLogin" asp-route-next="@Model.Next" method="post" class="form-horizontal">
                <div class="d-grid gap-3">
                    @foreach (var provider in Model.ExternalLogins!)
                    {
                        <button type="submit" class="btn hr @provider.DisplayName.ToLower()" name="provider" value="@provider.Name" title="Login using your @provider.DisplayName account">
                            <i class="bi-@provider.DisplayName.ToLower()"></i>
                            @provider.DisplayName
                        </button>
                    }
                </div>
            </form>
        }
    }
</section>
<div class="text-center mt-3">
    <p>
        <a id="forgot-password" asp-page="./ForgotPassword">
            Forgot Password?
        </a>
    </p>
    @* <p>
        New to BlogArray?
        <a asp-page="./Register" asp-route-next="@Model.Next">Join for free</a>
    </p> *@
    @* <p>
    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
    </p> *@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
